@use "../../../assets/css/theme/variables" as var;

.falls-page-navigation {
  height: 100%;
  position:relative;

  .fpn-disable {
    display:block;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:99;
  }

  &.is_display_list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    .falls-page-item {
      align-self: baseline !important;
      margin-left: 0 !important;

      p {
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        a {
          text-decoration: none;
        }
      }
    }
  }

  &.is_display_grid {
    display: grid !important;
    grid-template-columns: repeat(4, minmax(0, 1fr)); // default - override in block settings

    &:not(.nogap) {
      column-gap: 1.7rem;
      gap: 1.7rem;
    }

    .falls-page-item {
      position: relative;
      height: 100%;
      width: 100%;
      min-height: 170px;
      margin-top: 0 !important;
      z-index: 1;

      figure {
        position: absolute;
        overflow: hidden;
        margin-bottom: 0 !important;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 5;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      a.slide-title {
        align-items: center;
        background-color: rgba(0, 0, 0, .5);
        color: inherit !important;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        margin-top: 0;
        position: absolute;
        padding:40px;
        text-align: center;
        text-decoration: none;
        top: 0;
        width: 100%;
        z-index: 10;

        span {
          display: block;
          transition: all .5s;
          transform: scale(1, 1);
        }
      }
    }

    &.show-titles-hover .falls-page-item a.slide-title span {
      opacity: 0 !important;
    }

    &.show-titles-hover .falls-page-item:hover a.slide-title span,
    &.show-titles-hover .falls-page-item.current-item a.slide-title span {
      opacity: 1 !important;
      transform: scale(1.1, 1.1);
    }

    &.show-titles-on .falls-page-item a.slide-title span {
      opacity: .7 !important;
    }

    &.show-titles-on .falls-page-item:hover a.slide-title span,
    &.show-titles-on .falls-page-item.current-item a.slide-title span {
      opacity: 1 !important;
    }

    &.show-titles-on .falls-page-item:hover a.slide-title span {
      transform: scale(1.1, 1.1);
      opacity: 1;
    }
  }


  @media all and (max-width: var.$tablet) {
    &.is_display_grid {

      grid-template-columns: repeat(2, minmax(0, 1fr)) ! important;

      h2 {
        font-size: var(--wp--preset--font-size--small) !important;
      }

      &.show-titles-hover .falls-page-item a.slide-title span {
        opacity: .8 !important;
      }
    }

    &.grid-items-odd {

      .grid-item-last {
        grid-column-start: 1 !important;
        grid-column-end: 3 !important;
      }
    }
  }

  @media all and (max-width: var.$mobile ) {
    &.is_display_list {

      .falls-page-item {
        align-self: start;
      }
    }
  }
}