@use "theme/variables" as var;
/* Styles intended only for the front.*/
html {
	scroll-behavior: smooth;
  font-size: 10px !important; /* Easier Math */
}
body {
  font-size: var(--wp--preset--font-size--medium ) !important;
}
body, body * {
  box-sizing:border-box;
}

.entry-content > .wp-block-group:after,
.entry-content > .wp-block-group:before {
  //content:'';
  //display:block;
  //clear:both;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

