@use "../theme/variables" as var;

// Bold the last breadcrumb on blog posts
.breadcrumb_last {
  font-weight: bold;
  text-transform:none !important;
  letter-spacing:none;
}

.wp-block-query-pagination-numbers,
.wp-block-post-terms {
  a {
    text-decoration:none;
    cursor: pointer;
  }
  span.current {
    color: var( --wp--preset--color--primary );
  }
}

.wp-block-query-pagination-numbers {
  a, span {
    padding: 0 10px;
  }
}


.blog-cat-nav {

  .nav-container {
    display:flex;
    padding: 20px 0;
    margin:0 auto;

    input,
    select,
    input[type=search],
    button {
      letter-spacing:0;
      font-size: var( --wp--preset--font-size--xx-small );
      border-radius:22px;
      height:45px;
      max-width: 100%;
      border-width: 1px;
      border-style:solid;
      border-color: var(--wp--preset--color--white);
      margin-right: 20px;

      &:focus {
        outline: none;
      }
    }

    input[type=search],
    select {
      padding-left: 20px;
      padding-right:20px;
    }
    input[type=search] {
      min-width:300px;
      text-transform:none !important;
    }

    select {
      background-color: var(--wp--preset--color--white ); 
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position: 
        calc(100% - 20px) calc(50% + 2px),
        calc(100% - 15px) calc(50% + 2px);
      background-size: 5px 5px, 5px 5px;
      background-repeat: no-repeat;

      option:not(:checked) {
       // background-color: rgba(248, 248, 248, .5) !important;
       background-color: pink !important;
      }
    }

    button {
      background-color: var( --wp--preset--color--primary );
      color: var( --wp--preset--color--white );
      transition:all .5s;
      transform:scale(1,1);
      cursor: pointer !important;
      padding: 0 20px;
      font-weight:600 !important;

      &:hover,
      &:active {
        transform:scale(1.1,1.1);
      }
    }
  }
}

/* First Image in single blog post - add margin bottom;*/
.single-post .entry-content > .wp-block-image:first-of-type {
  margin-bottom:40px !important;
}
@media (max-width: var.$tablet) {
  .blog-cat-nav {
    .nav-container {
      display:block;

      p:empty {
        display:none !important;
      }

      select, input {
        margin-bottom:20px;
        width:100%;
      }

    }
  }
}

div.blog-results {
  ul.wp-block-post-template {
    li {
      hr.wp-block-separator {
        margin-left:var(--wp--preset--spacing--20) !important;
        margin-right:var(--wp--preset--spacing--20) !important;
      }
    }
  }
}