@use "theme/variables" as var;

.yoast-breadcrumbs {
  font-size: var( --wp--preset--font-size--xx-small );
  color: var( --wp--preset--color--text-light );
  list-style:none;

  a {
    text-decoration:none !important;
    display:inline-block;
    padding: 1rem .5rem;

    &:after {
      @include var.pop-underline;
    }
  }
}

// Remove border from bottom of breadcrumbs on non-cover pages.
.page-template-wp-custom-template-pages-simple-header .falls-breadcrumbs {
  border-bottom: none !important;
}
.page-template-wp-custom-template-pages-simple-header .falls-breadcrumbs,
.single-post .falls-breadcrumbs {
  border-top: none !important;
}