@use "theme/variables" as var;

form.wpcf7-form {

    p {
        margin: 0;
        position: relative;


        span {
        

            input[type='text'], input[type='email'], input[type='tel'], select, textarea {
                border-radius: 22px;
                background-color: #F8F8F8;
                border: none;
                
                width: 100%;
                padding: 0.25em .75em;
                font-style: italic;
    
                &::placeholder {
                    color: black;
                    font-style: italic;
                }
            }
            textarea {
                margin-bottom: var(--wp--preset--spacing--20);
                height: 2.12em;
            }
            

        }
    }

    .visually-hidden {
        //screen reader compliant
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
    

    input[type='submit'] {
        border-radius: 22px;
        border: none;
        padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
        float: right;
    }

    //Email signup form in site footer
    &.email-footer {
        p {
            display: flex;
            justify-content: center;

            input[type='email'] {
                background-color: #F9F9F9;
                width: 250px;
                border-radius: 22px 0 0px 22px;
                padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
                margin-left: 72px; //accounts for the invisible spinner
            }
            input[type='submit'] {
                border-radius: 0px 22px 22px 0px;
                background-color: black;
                color: white;
                height: auto !important;
            }
        }
        
    }
}

