@use "theme/variables" as var;
// Map 
.thl-map {
  position:relative;
  top:40px;
}

// Board
@media (max-width: var.$mobile ) {
  .board-highlight {
    display:none;
  }
  .wp-container-core-columns-is-layout-cf05694f {
    gap:0 var(--wp--preset--spacing--80);
  }
}
// Accordion
.wp-block-esab-accordion-child {
  border-bottom: 4px dashed  var( --wp--preset--color--teal );
  padding-bottom:30px;

  &:nth-of-type(1) {
    border-top: 4px dashed  var( --wp--preset--color--teal );
    padding-top:30px;
  }
}

//Contact Form
.wpcf7-form {
  input,textarea {
    width:100% !important;
    border-width:0;
    border-color:transparent;
    border-style:solid;
    border-image:none;
    padding:4px 8px;
  }
  p {
    margin-top:0;
    margin-bottom:8px;
  }

  input.wpcf7-submit {
    border-radius: 30px;
    padding-top: var(--wp--preset--spacing--20);
    padding-right: var(--wp--preset--spacing--70);
    padding-bottom: var(--wp--preset--spacing--20);
    padding-left: var(--wp--preset--spacing--70);
    box-shadow: none;
    font-style: normal;
    font-weight: 600;
    color: var( --wp--preset--color--white );
    background: var( --wp--preset--color--navy );
    width:auto !important;
    display:block !important;
    margin:5px auto;
  }
}

// Links
a:where(:not(.wp-element-button)):hover {
  text-decoration:underline;
}
//Buttons:hover state
.wpcf7-form .wpcf7-submit, .wp-block-button {

  transition: all .5s;
  transform:scale( 1,1 );

  &:hover {
    cursor: pointer !important;
    transform:scale( 1.1,1.1 );
  }
}