
//breakpoints
$tiny: 360px;
$xsmall: 480px;
$small: 600px;
$mobile: 876px;
$tablet: 1024px;
$laptop: 1340px;
$large: 1440px;


@mixin thl_lora {
  font-family: var(--wp--preset--font-family--lora) !important;
}
@mixin thl_i {
  font-style: italic !important;
}

/** MIXINS - keep in this file for easier imports to other files. */
@mixin thl_h1 {
  font-size: var(--wp--preset--font-size--x-large) !important;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}

@mixin thl_h2 {
  font-size: var(--wp--preset--font-size--large) !important;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}

@mixin thl_h3 {
  font-size: var(--wp--preset--font-size--medium-plus) !important;
  font-weight: 500;
  text-transform: 0.76px;
  letter-spacing: uppercase;
}

@mixin thl_h4 {
  font-size: var(--wp--preset--font-size--medium) !important;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
}

@mixin thl_h5 {
  font-size: var(--wp--preset--font-size--small) !important;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
}

@mixin thl_h6 {
  font-size: var(--wp--preset--font-size--xx-small) !important;
  font-weight: 500;
  text-transform: 0.76px;
  letter-spacing: uppercase;
}

@mixin pop-underline {
  background-color: var( --wp--preset--color--primary );
  content: '';
  display:block;
  height:3px;
  width:0;
  position:absolute;
  top: calc( 100% + 6px );
  left:50%;
  transition: all .25s;
}

@mixin accordion-heading {
  font-size: inherit;
}