.wp-block-list {

  &.nobullet {
    list-style-type:none !important;
    padding-left:0 !important;

    li {
      
    }
  }
}

.single-work .wp-block-list {
  margin-top: 30px;
  
  li {
    line-height: 1.7em;
    margin-bottom: var(--wp--preset--spacing--20);
  }
}

.single-post .wp-block-list {
  font-family: var( --wp--preset--font-family--lora ) !important;
  font-size: var( --wp--preset--font-size--medium ) !important;
}