@use "../theme/variables" as var;


.wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content  {
    color: var( --wp--preset--color--navy ) !important;
}
// Main navigation - spacing between items default
.site-header nav {
  ul>li {
    color: var( --wp--preset--color--navy ) !important;
    padding: 0 4px;

    a {
      text-decoration: none !important;
    }
  }
}

/* Accessibility: Increase icon size so that the button is easier to click */
.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
  width: 48px;
  height: 48px;
}


// Anything larger than Laptop:
@media all and (min-width: calc(var.$large + 1px)) {

  // Main navigation - spacing between items - increase on larger screens
  .site-header nav {

    ul>li {
      padding: 0 8px;

      &:after {
        @include var.pop-underline;
      }

      &:hover,
      &.current-menu-item {
        color: var(--wp--preset--color--primary);

        ul li a {
          color: var(--wp--preset--color--white) !important;
        }

        //&:after {
        //width:96%;
        //left:2%;
        //}

      }

      ul {        

        li:after {
          display: none !important;
        }
      }
    }
  }
}

/* Change the breakpoint for the mobile menu toggle to anything smaller than a laptop */
@media (min-width: calc(var.$laptop + 1px)) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none !important;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: block !important;
    width: 100%;
    position: relative;
    z-index: auto;
    background-color: inherit;
  }
}

@media (max-width: calc(var.$laptop )) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none;
  }

  .site-header .wp-block-navigation ul,
  .site-header .wp-block-navigation div:not(.wp-block-navigation__responsive-container-content),
  .site-header .wp-block-navigation ul li,
  .site-header .wp-block-navigation ul li ul {
    padding: 0 !important;
  }
  

  /* Accessibility: Increase icon size so that the button is easier to click */
  .site-header .wp-block-navigation__responsive-container-close svg,
  .site-header .wp-block-navigation__responsive-container-open svg {
    width: 40px;
    height: 40px;
  }
  .site-header .wp-block-navigation__responsive-container-close {
    right: 20px;
  }

  .site-header .wp-block-navigation__container,
  .site-header .wp-block-navigation .wp-block-navigation-item,
  .site-header .wp-block-navigation .has-child .wp-block-navigation__submenu-container,
  .site-header .wp-block-navigation .wp-block-navigation-item .wp-block-navigation-link {
    display: block !important;
    width: 100%;
    max-width:100%;
    overflow-x:hidden;
  }

  .site-header .wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .site-header .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content,
  .site-header .wp-block-navigation .has-child .wp-block-navigation__submenu-container>.wp-block-navigation-item>.wp-block-navigation-item__content {
    padding: 0 !important;
  }

  

  /* Pad the first child UL of the nav menu */
  .site-header .wp-block-navigation__responsive-container-content > ul {
    padding-left:20px !important;
    padding-right:20px !important;
    max-width: calc( 100% - 40px );
  }

  .site-header .wp-block-navigation__responsive-container-content > ul:has(>li.nopad) {
    padding-left:0 !important;
    padding-right:0 !important;
  }
  .site-header .wp-block-navigation__responsive-container-content ul li {
    line-height:3;
  }
 
  .site-header .wp-block-navigation__responsive-container-content  ul li ul li {
    padding-bottom:20px;
  }

  
  .site-header .wp-block-navigation .has-child .wp-block-navigation__submenu-container >.wp-block-navigation-item>.wp-block-navigation-item__content {

    color: var( --wp--preset--color--base ) !important;
    transition: all .5s;
    &:hover {
      color: var( --wp--preset--color--white ) !important;
    }
  
  }
  /* Style the list of pages and subpages.*/
  .site-header .wp-block-navigation__responsive-container-content > ul > li.wp-block-navigation-item > a {
    font-size:20px !important;
    margin-top:10px !important;
  }
  .site-header .wp-block-navigation__responsive-container-content > ul > li .wp-block-navigation-submenu .wp-block-navigation-submenu {
    padding-left:10px !important;
  }
  .site-header .wp-block-navigation__responsive-container-content > ul > li > .wp-block-navigation-submenu,
  .site-header .wp-block-navigation__responsive-container-content > ul > li .wp-block-navigation-submenu .wp-block-navigation-submenu .wp-block-navigation-submenu {
    padding-left:10px !important;
  }
  .site-header .wp-block-navigation__responsive-container-content > ul > .wp-block-navigation-item.has-child > a:after {
    content: ':';
  }
 
  .site-header .wp-block-navigation__responsive-container-content > ul > li.wp-block-navigation-item.has-child > a {
    border-bottom:1px solid var( --wp--preset--color--white );
    display:block;
    font-size:1.8rem !important;
    line-height: 1.6 !important;
    margin-bottom: 10px;
    margin-top: 20px;
    width:max-content;
    
    
  }
}

