@use "../theme/variables" as var;
/* Remove the default border around the search block wrapper */




.wp-block-search.wp-block-search__button-only{

  .wp-block-search__button, 
  .wp-element-button {
    padding: 10px !important;
    background-color: transparent !important;
    max-width:52px !important;
    &:hover {
      outline:none;
      border-color: transparent !important;
    }

    &[aria-expanded=true] {
      padding: 10px !important;
      max-width:52px !important;
    }
  }
  .wp-block-search__button svg {
    fill: var( --wp--preset--color--white ) !important;
  }

  .wp-block-search__inside-wrapper {
    position:relative;
  }

  .wp-block-search__input {
    position:absolute;
    top:10px;
    right:50px;
    z-index:9999;
    text-transform:none !important;

  }
}

@media (max-width: calc(var.$laptop )) {
  
  // Mobile Search
  .site-header .wp-block-search {
    
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: content-box !important;
    margin-bottom:20px;
    min-width: calc( 100% - 40px );
    display:block;
    border: 1px solid var( --wp--preset--color--white );

    &.wp-block-search__button-only .wp-block-search__inside-wrapper {
      flex-direction:row-reverse !important;
      min-width: calc( 100% - 80px ) !important;
    }
    &.wp-block-search__button-only.wp-block-search__searchfield-hidden .wp-block-search__input{
      min-width: calc( 100% - 80px ) !important;
      width: calc( 100% - 80px ) !important;
      appearance: initial !important;
      border-radius: 8px;
      padding-left: 20px !important;
    }
  }
  
}



/*:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
  padding: 0 0 0 var( --wp--preset--spacing--10 );
  border-radius:22px;

  .wp-block-search__input {
    border: none;
    background-color: transparent;
    padding: 0 !important;
    min-width:200px;
  }

  .wp-block-search__button.has-icon {
    border-radius:22px;
    padding: 4px;
  }
  .wp-block-search__button svg {
    height:30px;
    width:30px;
  }
  
}*/
/*
.wp-block-search {

  .wp-block-search__label {
    display:none;
  }
  .wp-block-search__input {
    border: 1px solid var( --wp--preset--color--border-grey );
    line-height:1;
    padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
    border-radius:22px;
   
  }
}
  */